#inline-title {
    height: 200px;
    width: 1000px;
    background-color: aquamarine;
    font-family: "Arima Madurai", cursive;
}

div#inline-title {
    height: 200px;
    width: 1000px;
    background-color: aquamarine;
    font-family: "Arima Madurai", cursive;
}